<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

	<f:be.pageRenderer
			includeJavaScriptModules="{
            0: '@typo3/backend/context-menu.js',
            1: '@typo3/backend/modal.js'
        }"
	/>

	<h1>Site Wizard</h1>


	<form
			action="{f:be.uri(route:'site_wizard', parameters:'{action: \'create\'}')}"
			method="post"
			enctype="multipart/form-data"
			name="editform"
			id="siteWizardController"
	>
		{formEngineHtml -> f:format.raw()}

		<input type="hidden" name="returnUrl" value="{returnUrl -> f:format.raw()}" />
		<input type="hidden" name="closeDoc" value="0" />
		<input type="hidden" name="doSave" value="0" />
		<input type="hidden" name="rootPageId" value="{rootPageId}" />

		{formEngineFooter -> f:format.raw()}
	</form>


</f:section>

</html>
